.burger {
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  cursor:pointer;
  background-color:var(--background);
  width:35px;
  height:35px;
  border-radius: var(--border-radius);
  box-shadow: 4px 4px 8px var(--shadow-dark),
              -4px -4px 8px var(--shadow-light);
  transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
  margin: 20px;
  .line{
    background-color:var(--primary);
    box-shadow: 0px 0px 10px 0px rgba(240,128,128,0.3);
    width:20px;
    height:4px;
    border-radius:4px;
    margin:2px 0px 1px 0px;
    transition:margin 0.4s cubic-bezier(.79,.21,.06,.81),transform 0.4s cubic-bezier(.79,.21,.06,.81);
  }
    
  .line:nth-child(2){
    transform-origin:50% 50%;
  }
}

.burger.active  {
  box-shadow:  4px  4px  8px 0px var(--shadow-dark),
              -4px -4px  8px 0px var(--shadow-light),
        inset  6px  6px 12px 0px var(--shadow-dark),
        inset -6px -6px  5px 0px var(--shadow-light);
  .line{
    margin:-2px;
  }
  .line:nth-child(1){
    transform:rotate(-45deg);
    
  }
  .line:nth-child(2){
    transform:scale(0)
  }
  .line:nth-child(3){
    transform:rotate(45deg)
  }
}

