.link {
  padding: 8px 2px;
  margin: 0px 15px;
  border-radius: var(--border-radius);
  box-shadow: 4px  4px 8px var(--shadow-dark),
             -4px -4px 8px var(--shadow-light);
}

.link.mobile {
  width: 100%;
  margin: 15px 0px;
}

.link a {
  padding: 6px 25px;
  color: var(--primary);
  border-radius: var(--border-radius);
  text-decoration: none;
  transition: background-image 0.2s;
}

.link.mobile a {
  display: block;
  padding: 15px;
  width: 100%;
}

.link:hover {
  box-shadow: none;
  box-shadow: 2px  2px 4px var(--shadow-dark),
             -2px -2px 4px var(--shadow-light);
}


.link:active {
  padding: 8px 2px;
  margin: 0px 15px;
  border-radius: var(--border-radius);
  box-shadow: inset  2px  8px 5px -6px var(--shadow-dark),
              inset -2px -2px 8px -2px var(--shadow-light);
}
.link.active {
  padding: 8px 2px;
  margin: 0px 15px;
  border-radius: var(--border-radius);
  box-shadow: inset  2px  8px 5px -6px var(--shadow-dark),
              inset -2px -2px 8px -2px var(--shadow-light);
  box-shadow: none;
}

